html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

table, th, td {
    border: 1px solid black;
    margin: 50px;
}

.fluid {
    margin: 20px;
}

.button {
    background-color: #0d80af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.separator {
    margin-top: 80px;
}

.img3d {
    box-shadow: -3px 3px 2px 1px rgba(0,0,0,0.70);
}

.to3d {
    margin: 10px;
}

.separator-sm {
    margin: 20px;
}

.separator-solid {
    margin: 10px;
    display: block;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000000), to(#fff));
}

#exampleGuy {
    position: relative;
}
.jumping {
    animation: jump 0.4s ease-out alternate;
    -webkit-animation: jump 0.4s ease-out alternate;
    position: absolute;
}

.items {
    -webkit-animation: itemRotation 5s infinite, floatingItems 1s ease-in-out alternate-reverse infinite;
    -o-animation: itemRotation 5s linear infinite, floatingItems 1s ease-in-out alternate-reverse infinite;
    animation: itemsRotation 5s linear infinite, floatingItems 1s ease-in-out alternate-reverse infinite;
    position: relative;
}

@keyframes jump {
    0% {
        -webkit-filter: drop-shadow(0px 0px 0px rgb(255, 255, 255));
    }

    25% {
        -webkit-filter: drop-shadow(1px 1px 4px rgba(88, 88, 88, 0.75));
    }

    100% {
        -webkit-filter: drop-shadow(1px 9px 1px rgba(0,0,0,0.85));
    }
}

@keyframes itemsRotation {
    0% {
        -webkit-transform: rotateY( 0 );
        -moz-transform: rotateY( 0 );
        -ms-transform: rotateY( 0 );
        -o-transform: rotateY( 0 );
        transform: rotateY( 0 );
    }

    50% {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

    100% {
        -webkit-transform: rotateY( 0deg );
        -moz-transform: rotateY( 0deg );
        -ms-transform: rotateY( 0deg );
        -o-transform: rotateY( 0deg );
        transform: rotateY( 0deg );
    }
}

@keyframes floatingItems {
    0% {
        top: 0;
    }

    10% {
        top: 1px;
    }

    20% {
        top: 2px;
    }

    30% {
        top: 3px;
    }

    40% {
        top: 4px;
    }

    50% {
        top: 5px;
    }

    60% {
        top: 6px;
    }

    70% {
        top: 7px;
    }

    80% {
        top: 8px;
    }

    90% {
        top: 9px;
    }

    100% {
        top: 10px;
    }
}